<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hrsst.housekeeper">

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATIsON" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mvp.main.MainActivity" />
        <activity
            android:name=".mvp.login.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_login"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".mvp.register.RegisterPhoneActivity"
            android:label="@string/title_activity_register_phone"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.login.SplashActivity"
            android:label="@string/title_activity_splash"
            android:theme="@style/customBackground">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.apmonitor.ApMonitorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.alarm.AlarmActivity" />
        <activity android:name=".mvp.addCamera.AddCameraFourthActivity" />
        <activity android:name=".mvp.addCamera.AddWaitActicity" />
        <activity android:name=".mvp.addCamera.AddCameraFirstActivity" />
        <activity android:name=".mvp.addCamera.AddCameraSecondActivity" />
        <activity android:name=".mvp.addCamera.AddCameraThirdActivity" />

        <service android:name=".service.MainService" />

        <activity
            android:name=".mvp.ImageSee.ImageSeeActivity"
            android:label="@string/title_activity_image_see"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.ForwardDownActivity" />
        <activity
            android:name=".mvp.playBack.PlayBackListActivity"
            android:label="@string/title_activity_play_back_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".mvp.playBack.PlayBackActivity" />
        <activity android:name=".mvp.recordProject.RecordProjectActivity" />
        <activity android:name=".mvp.sdcard.SDCardActivity" />
        <activity android:name=".mvp.alarmSetting.AlarmSettingActivity" />
        <activity android:name=".mvp.modifyBoundEmail.ModifyBoundEmailActivity" />
        <activity android:name=".mvp.alarmPushAccount.AlarmPushAccountActivity" />
        <activity android:name=".mvp.register.RegisterEmailActivity"></activity>
    </application>

</manifest>